<section data-ng-controller="HomeController" data-ng-init="find()">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Picture tagging!
			</p>
		</div>
        <div class="row" data-ng-show="authentication.user">
            <p>Welcome <span data-ng-bind="authentication.user.displayName"></span></p>
        </div>
        <form name="picTagSearchForm" class="form-horizontal">
            <div class="input-group" style="max-width: 300px">
                <tags-input ng-model="tags" display-property="tag" name="tag" min-tags="1" max-tags="1">
                    <auto-complete source="loadTags($query)" min-length="2"></auto-complete>
                </tags-input>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="findTagPictures(tag)"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
	</div>
    <div class="list-group">
        <div data-ng-repeat="picture in pictures track by $index" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="picture.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="picture.user.displayName"></span><br>
                Tags:
                <span ng-repeat="tag in picture.tags">{{tag.tag}}&nbsp;</span><br>
                Points:
                <span data-ng-bind="picture.points"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="picture.name"></h4>
            <a data-ng-href="#!/pictures/{{picture._id}}">
                <img ng-src="/{{picture.path}}" class="img-thumbnail" style="max-width: 400px;">
            </a>
            <p>Upvotes: {{picture.upvote.length}} - Downvotes: {{picture.downvote.length}}</p>
            <button class="glyphicon glyphicon-hand-left" type="button" ng-click="upvote(picture._id)"></button>
            <button class="glyphicon glyphicon-thumbs-down" type="button" ng-click="downvote(picture._id)"></button>
        </div>
    </div>
</section>
