<section data-ng-controller="PicturesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="picture.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == picture.user._id))">
		<a class="btn btn-primary" href="/#!/pictures/{{picture._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="picture.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="picture.user.displayName"></span>
            <br>
            Tags:
            <span ng-repeat="tag in picture.tags">{{tag.tag}}&nbsp;</span>
            <br>
            Points:
            <span data-ng-bind="picture.points"></span>
		</em>
	</small>
    <div>
        <img ng-src="/{{picture.path}}" class="img-thumbnail">
    </div>
    <p>Upvotes: {{picture.upvote.length}} - Downvotes: {{picture.downvote.length}}</p>
    <button class="glyphicon glyphicon-hand-left" ng-class="voteClass(picture.upvote, authentication.user)" ng-disabled="voteDisable(picture.upvote, authentication.user)" type="button" ng-click="upvote(picture._id)"></button>
    <button class="glyphicon glyphicon-thumbs-down" ng-class="voteClass(picture.downvote, authentication.user)" ng-disabled="voteDisable(picture.downvote, authentication.user)" type="button" ng-click="downvote(picture._id)"></button>
    <div class="comments-list">
        <h2><small class="pull-right">{{picture.comments.length}} comments</small> Comments </h2><hr>
        <span ng-repeat="comment in picture.comments">
            <small>
                <em class="text-muted">
                    <span data-ng-bind="comment.user.displayName"></span>
                     -
                    <span data-ng-bind="comment.created | date:'mediumDate'"></span>
                    <br>
                </em>
            </small>
            {{comment.comment}}
            <br>
            <hr>
        </span>
    </div>
    <form name="commentForm" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="comment">Comment</label>
                <div class="controls">
                    <textarea ng-model="comment" name="comment" id="comment" class="form-control" placeholder="Comment" required="true" rows="4" cols="50"></textarea>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="postComment(picture._id, comment)">Submit</button>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</section>
